fastapi
uvicorn
mysql-connector-python
python-multipart
requests
transformers
# Esto le dice a Railway que instale la versión ligera (CPU) de Torch
torch --index-url https://download.pytorch.org/whl/cpu